{{ 'custom-announcement.css' | asset_url | stylesheet_tag }}



{% assign announces = section.blocks | where: "type", "announcement" %}



<div class="announce" style="--background-color: {{ section.settings.background_color }}; 
                --text-color: {{ section.settings.text_color }}; 
                width: 100%; 
                height: 40px;">

    {% for announce in announces %}
        
        {% if forloop.length == 1 %}
          <div {{ announce.shopify_attributes }}>
                <p style="text-align: {{ announce.settings.text_alignment_setting }}; height: 40px"> {{ announce.settings.text_setting }} </p>
          </div>
          {% else %}
            <div {{ announce.shopify_attributes }}>
                <p style="text-align: {{ announce.settings.text_alignment_setting }}; height: 40px"> {{ announce.settings.text_setting }} </p>
            </div>
        {% endif %}
          
            
        
      
    {% endfor %}
</div>

{%  schema %}
{
    "name": "Custom Section bar",
    "tag": "section",
    "class": "custom-section-bar",
    "limit": 1,
    "settings": 
        [
            {
                "type": "color",
                "id": "background_color",
                "label": "Background"
            },
            {
                "type": "color",
                "label": "Text Color",
                "id": "text_color"
            }
        ],
        "blocks": 
            [
                {
                    "type": "announcement",
                    "name": "Announcement",
                    "limit": 4,
                    "settings": 
                        [
                            {
                                "type": "text",
                                "id": "text_setting",
                                "label": "Announcement"
                            },
                            {
                                "type": "text_alignment",
                                "id": "text_alignment_setting",
                                "label": "Text Alignment",
                                "default": "center"
                            }
                        ]

                }
            ],
        "presets": 
            [
                {
                    "name": "Custom Section bar",
                    "settings": {}
                }
            ]
}
{% endschema %}